.global-bg{
    background-color: #0b0e22;
}

.bg-green{
    background-color: rgb(157, 255, 0);
    
}

.text-green{
    color:rgb(157, 255, 0);
}
.button button{
    /* border: 2px solid rgb(157, 255, 0); */
    background-color:rgb(157, 255, 0);
    font-weight:bold ;
    color: black;
}

.imgW img{
    width: 100%;
}
